<!DOCTYPE html>
<html>
<head>
    <title>Liste des Auteurs</title>
</head>
<body>
    <h1>Liste des Auteurs par ordre alphabétique des adresses email</h1>
    <form action="{{ path('list_author') }}" method="get">
    <label for="minBooks">Nombre minimum de livres :</label>
    <input type="number" id="minBooks" name="minBooks">

    <label for="maxBooks">Nombre maximum de livres :</label>
    <input type="number" id="maxBooks" name="maxBooks">

    <input type="submit" value="Rechercher">
</form>

    
    <table border="1">
        <tr>
            <td>ID</td>
            <td>Username</td>
            <td>Email</td>
            <td>nb_books</td>
            <td>Action</td> <!-- Nouvelle colonne pour le lien Edit -->


        </tr>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.username }}</td>
                <td>{{ author.email }}</td>
                <td>{{ author.nbbooks }}</td>
                <td>
                            <a href="{{ path('updateauthor', {'id': author.id}) }}">Edit</a>
                            |
                            <a href="{{ path('deleteAuthor', {'id': author.id}) }}" onclick="return confirm('Are you sure you want to delete this author?');">Delete</a>
                            |<a href="{{ path('showauthor', {'id': author.id}) }}">Show</a>

                        </td>

            </tr>
        {% endfor %}
    </table>
</body>
</html>
