
<table border="1">
  <h1>Liste des Livres</h1>
    
    <form action="{{ path('list_book') }}" method="get">
        <label for="ref">Référence du Livre :</label>
        <input type="text" id="ref" name="ref">
        <input type="submit" value="Rechercher">
    </form>
<tr>
<td> REF</td>
<td> Title </td>
<td> Gategory </td>
<td> PublicationDate </td>
<td> Published </td>
<td> Author </td>
</tr>
{% for bookk in books %}
<tr>
<td>{{bookk.ref}}</td>
<td>{{bookk.title}}</td>
<td>{{bookk.category}}</td>
<td>{{bookk.publicationDate|date("F j, Y H:i")}}</td>
<td>{{bookk.published}}</td>
<td>{{bookk.author.username}}</td>
 

</tr>
{% endfor %}
</table>
</body>

 
 {# sdgsrg #}